* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  max-width: 100vw;
  width: 100%;
  display: flex;
}

.left-container {
  max-width: 300px;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.right-container {
  max-width: 100vw;
  width: 100%;
  padding: 2.7rem 1.5rem;
}

.active {
  display: none
}



.conatiner-profile-icons,
.conatiner-client-icons,
.conatiner-product-icons,
.conatiner-quotation-icons,
.conatiner-qs-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon-edit,
.icon-delete {
  cursor: pointer;
  padding: 0.1rem 0.7rem;
  outline: 1px solid black;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
}

.icon-edit:hover,
.icon-delete:hover {
  background-color: rgb(206, 202, 202);
  color: white;
}

.add-client-btn,
.add-product-btn,
.add-quotation-btn,
.btn-edit-profile,
.btn-form-client,
.btn-form-product,
.btn-form-profile,
.quotation-btn-submit,
.btn-edit-quote-settings,
.btn-form-quote-settings {
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  outline: 1px solid black;
  padding: var(--btns-add-padding);
  border-radius: 1rem;
}

.btn-form-client,
.btn-form-product,
.btn-form-profile,
.btn-form-quote-settings {
  margin-top: 1.6rem;
}

@media (width <=800px) {
  #app {
    flex-direction: column;
  }

  .left-container {
    max-width: 100vw;
    width: 100%;
    height: 5rem;
  }

  .right-container {
    margin-bottom: 5rem;
  }

  .conatiner-profile-icons,
  .conatiner-client-icons,
  .conatiner-product-icons,
  .conatiner-quotation-icons,
  .conatiner-qs-icons {
    padding: 0.5rem;
    padding-bottom: 0;
    width: 100%;
  }

  .icon-edit,
  .icon-delete {
    padding: 0.2rem 5rem;
    outline: 1px dashed black;
    border-radius: 1rem;
  }

  .add-client-btn,
  .add-product-btn,
  .btn-edit-profile,
  .btn-form-client,
  .btn-form-product,
  .btn-form-profile,
  .quotation-btn-submit,
  .btn-edit-quote-settings,
  .btn-form-quote-settings {
    width: 100%;
  }

  span[data-item] {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    align-items: center;
    border-bottom: 1px dashed rgb(182, 182, 182);
    padding: 0.5rem;
  }

  span[data-item]::before {
    content: attr(data-item);
    font-size: var(--font-size-spans);
    letter-spacing: 0.1rem;
  }
}